<!DOCTYPE HTML>
<html>
<head>
  <title>Test</title>
  <link href="/static/bootswatch-flatly.min.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    .sidebar {
      background-color: #dddddd;
      padding-top: 21px;
    }
    .navbar {
      margin-bottom: 0;
    }

    .sidebar li {
      display: block;
      position: relative;
      font-size: 16px;
      box-sizing: border-box;
      min-width: 7em;
      outline: none;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Flagship Docs</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Sign in</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-lg-2 sidebar">
        <ul>
          <li>Category</li>
          <li>Category</li>
          <li>Category</li>
          <li>Category</li>
          <li>Category</li>
          <li>Category</li>
          <li>Category</li>
        </ul>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <h1>{{ .Test }}</h1>
      </div>
    </div>
  </div>
</body>
</html>
